body {
  font-family: arial, sans-serif;
  font-size: 16px;
}
.section-center {
  text-align: center;
  margin-top: 100px;
}

.button {
  padding: 10px;
  border-radius: 6px;
  margin: 30px;
}

.button--rock {
  background-color: yellowgreen;
  border-color: yellowgreen;
}
.button--scissors {
  background-color: royalblue;
  border-color: royalblue;
}
.button--paper {
  background-color: darkcyan;
  border-color: darkcyan;
}
